:root {
  --animation-base-duration: 1000ms;
  --animation-iteration-count: infinite;
  font-family: monospace;
  background-color: #000;
}

:root *,
:root *::before,
:root *::after {
  box-sizing: border-box;
}

.width {
    width: 0%;
    height: calc(100vh/3);
    position: absolute;
    bottom: calc(100vh/3);
    left: 0;
    background-color: currentColor;
    animation-name: stretch, colour;
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: var(--animation-base-duration);
    animation-fill-mode: both;
    animation-iteration-count: var(--animation-iteration-count);
    animation-play-state: running;
    animation-timing-function: ease-in;
  }

  .score {
    background-color: #000000;
    color: #eeeeee;
    text-align: center;
    line-height: calc(100vh/3);
    height: calc(100vh/3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: calc(100vh/6);
    display: flex;
    justify-content: space-around;
  }
  
  .score i {
    font-style: normal;
  }
  
  .score i::before {
    content: "0";
    animation-name: score;
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: var(--animation-base-duration);
    animation-fill-mode: both;
    animation-iteration-count: var(--animation-iteration-count);
    animation-play-state: running;
    animation-timing-function: steps(1, end);
  }
  
  .score i:nth-child(2)::before {
    animation-duration: calc(var(--animation-base-duration) / 10);
  }
  
  .score i:nth-child(3)::before {
    animation-duration: calc(var(--animation-base-duration) / 100);
  }
  
  .score i:nth-child(4)::before {
    animation-duration: calc(var(--animation-base-duration) / 1000);
  }

  .score i:nth-child(5)::before {
    animation-duration: calc(var(--animation-base-duration) / 10000);
  }

  .button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: calc(100vh/6);
    background-color: #333333;
    color: #eeeeee;
    text-align: center;
    line-height: calc(100vh/3);
    height: calc(100vh/3);
  }
  .button:active {
    background-color: #000000;
  }

  .button::before {
    content: "Stop!";
  }


  
  #stop {
    display: none;
  }

  #stop:checked ~ .width,
  #stop:checked ~ .score i::before {
    animation-play-state: paused;
  }
  
  #stop:checked ~ .button::before {
    content: "Go!";
  }
  
  @keyframes score {
    0% {
      content: "0";
    }
    10% {
      content: "1";
    }
    20% {
      content: "2";
    }
    30% {
      content: "3";
    }
    40% {
      content: "4";
    }
    50% {
      content: "5";
    }
    60% {
      content: "6";
    }
    70% {
      content: "7";
    }
    80% {
      content: "8";
    }
    90% {
      content: "9";
    }
    100% {
      content: "9";
    }
  }

  @keyframes colour {
    0% {
      color: red;
    }
    50% {
      color: orange;
    }
    100% {
      color: green;
    }
  }
  
  @keyframes stretch {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }